<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<footer>
    <div id="logo-footer">
        <img th:src="@{/img/logo/새로고.jpg}" width="300px" height="150px" th:alt="|logo|">
    </div>
    <div id="middle-footer">
        <p>404 OFFICE NOT FOUND</p>
        <p>사업자 등록번호 : 123-456-7890</p>
        <p>본사 : 서울 종로구 인사동길 12 대일빌딩 7층</p>
        <p>E-mail : 404office@notfound.com</p>
        <p>Copyrightⓒ 404OFFICENOTFOUND All rights reserved.</p>
    </div>
    <div id="right-footer">
        <h3>상담 02-123-4567</h3>
        <h5>상담가능시간 평일 09:30~18:20 (점심시간 13:20~14:30)</h5>
    </div>
</footer>
</body>
</html>