<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>Title</title>
</head>
<body>
<header>
    <div class="top-header">
        <div class="auth-links">
            <a href="/login.html">로그인</a>
            <a href="/signup.html">회원가입</a>
        </div>
    </div>

    <nav>
        <ul class="nav-menu">
            <li><a href="/company.html">회사소개</a></li>
            <li class="dropdown">
                <span>지점</span>
                <ul class="dropdown-menu">
                    <li><a href="/branch/all">전체지점조회</a></li>
                    <li><a href="/branch/region">지역별지점조회</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <span>게시판</span>
                <ul class="dropdown-menu">
                    <li><a href="/board/faq">FAQ</a></li>
                    <li><a href="/board/inquiry">1:1 문의</a></li>
                </ul>
            </li>
            <li><a href="/review.html">리뷰</a></li>
        </ul>
    </nav>
</header>
</body>
</html>