<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.notfound.reservation.model.dao.ReservationMapper">
    <resultMap id="reservationResultMap" type="com.office.notfound.reservation.model.dto.ReservationDTO">
        <result property="reservationCode" column="reservation_code"/>
        <result property="memberCode" column="member_code"/>
        <result property="storeName" column="storeName"/>
        <result property="startDatetime" column="start_datetime"/>
        <result property="endDatetime" column="end_datetime"/>
        <result property="totalPrice" column="total_price"/>
        <result property="reservationStatus" column="reservation_status"/>
    </resultMap>




<!-- 예약 전체 조회 -->
    <select id="findAllReservation" resultMap="reservationResultMap">
        SELECT
            r.reservation_code,
            r.member_code,
            CONCAT(s.store_name, '(', o.office_num, ')') AS storeName,
            r.start_datetime,
            r.end_datetime,
            r.total_price,
            r.reservation_status
        FROM
            tbl_reservation r
                JOIN tbl_office o ON r.office_code = o.office_code
                JOIN tbl_store s ON o.store_code = s.store_code
        ORDER BY
            r.reservation_code DESC;
    </select>

<!-- 예약 상세 조회 -->
    <select id="searchReservation" resultMap="reservationResultMap">
        SELECT
            r.reservation_code,
            r.member_code,
            CONCAT(s.store_name, '(', o.office_num, ')') AS storeName,
            r.start_datetime,
            r.end_datetime,
            r.total_price,
            r.reservation_status
        FROM
        tbl_reservation r
            JOIN tbl_office o ON r.office_code = o.office_code
            JOIN tbl_store s ON o.store_code = s.store_code
        WHERE
        1 = 1
        <if test="reservationCodeInt != null">
            AND reservation_code = #{reservationCodeInt}
        </if>

        <if test="reservationDate != null and reservationDate != ''">
            AND DATE_FORMAT(start_datetime, '%Y-%m-%d') = #{startDatetime}
        </if>

        <if test="startDatetime != null and startDatetime != ''">
            AND DATE_FORMAT(start_datetime, '%Y-%m-%d') >= #{startDatetime}
        </if>

        <if test="endDatetime != null and endDatetime != ''">
            AND DATE_FORMAT(end_datetime, '%Y-%m-%d') &lt; #{endDatetime}
        </if>

        ORDER BY
        r.reservation_code DESC;
    </select>

    <select id="searchAdminReservation" resultMap="reservationResultMap">
    SELECT
    r.reservation_code,
    r.member_code,
    CONCAT(s.store_name, '(', o.office_num, ')') AS storeName,
    r.start_datetime,
    r.end_datetime,
    r.total_price,
    r.reservation_status
    FROM
    tbl_reservation r
    JOIN tbl_office o ON r.office_code = o.office_code
    JOIN tbl_store s ON o.store_code = s.store_code
    WHERE
    1 = 1
    <if test="reservationCodeInt != null">
        AND reservation_code = #{reservationCodeInt}
    </if>

      <if test="memberCodeInt != null">
        AND member_code = #{memberCodeInt}
    </if>

    <if test="reservationDate != null and reservationDate != ''">
        AND DATE_FORMAT(start_datetime, '%Y-%m-%d') = #{startDatetime}
    </if>

    <if test="startDatetime != null and startDatetime != ''">
        AND DATE_FORMAT(start_datetime, '%Y-%m-%d') >= #{startDatetime}
    </if>

    <if test="endDatetime != null and endDatetime != ''">
        AND DATE_FORMAT(end_datetime, '%Y-%m-%d') &lt; #{endDatetime}
    </if>

    ORDER BY
        r.reservation_code DESC;
</select>

    <update id="updateReservationStatus">
        UPDATE tbl_reservation
        SET reservation_status = #{status}
        WHERE reservation_code = #{reservationCode}
    </update>

    <delete id="deleteOldCanceledReservations">
        DELETE FROM tbl_reservation
        WHERE reservation_status = '예약취소'
          AND <![CDATA[ DATE_ADD(start_datetime, INTERVAL 30 DAY) < NOW() ]]>;
    </delete>

    <delete id="deleteReservations">
        DELETE FROM tbl_reservation 
        WHERE reservation_code IN
        <foreach item="code" collection="reservationCodes" open="(" separator="," close=")">
            #{code}
        </foreach>
        AND reservation_status = '예약취소'
    </delete>

    <!-- 로그인한 사용자의 예약 전체 조회 -->
    <select id="findAllReservationByMember" resultMap="reservationResultMap">
        SELECT
            r.reservation_code,
            r.member_code,
            CONCAT(s.store_name, '(', o.office_num, ')') AS storeName,
            r.start_datetime,
            r.end_datetime,
            r.total_price,
            r.reservation_status
        FROM
            tbl_reservation r
                JOIN tbl_office o ON r.office_code = o.office_code
                JOIN tbl_store s ON o.store_code = s.store_code
        WHERE
            r.member_code = #{memberCode}
        ORDER BY
            r.reservation_code DESC;
    </select>

    <!-- 로그인한 사용자의 예약 검색 -->
    <select id="searchReservationByMember" resultMap="reservationResultMap">
        SELECT * FROM tbl_reservation
        WHERE member_code = #{memberCode}
        <if test="reservationCodeInt != null">
            AND reservation_code = #{reservationCodeInt}
        </if>
        <if test="reservationDate != null and reservationDate != ''">
            AND DATE(start_datetime) = #{reservationDate}
        </if>
    </select>

    <!-- 로그인한 사용자의 예약 취소 -->
    <delete id="cancelReservationsByMember">
        DELETE FROM tbl_reservation
        WHERE reservation_code IN
        <foreach item="code" collection="reservationCodes" open="(" separator="," close=")">
            #{code}
        </foreach>
        AND member_code = #{memberCode};
    </delete>



</mapper>
