<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>결제번호</th>
        <th>회원ID</th>
        <th>예약번호</th>
        <th>결제날짜</th>
        <th>결제방법</th>
        <th>결제가격</th>
        <th>결제상태</th>
    </tr>
    <tr th:each="payment : ${ paymentList }">
        <td th:text="${ payment.paymentCode }"></td>
        <td th:text="${ payment.memberCode }"></td>
        <td th:text="${ payment.reservationCode }"></td>
        <td th:text="${ payment.paymentDate }"></td>
        <td th:text="${ payment.paymentMethod }"></td>
        <td th:text="${ payment.paymentAmount }"></td>
        <td th:text="${ payment.paymentStatus }"></td>
    </tr>
</table>

</body>
</html>