<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.notfound.samusil.model.dao.OfficeMapper">

    <resultMap id="officeResultMap" type="com.office.notfound.samusil.model.dto.OfficeDTO">
        <id property="officeCode" column="office_code"/>
        <result property="storeCode" column="store_code"/>
        <result property="officeType" column="office_type"/>
        <result property="officeNum" column="office_num"/>
        <result property="officePrice" column="office_price"/>
        <result property="officeThumbnailUrl" column="office_thumbnail_url"/>
    </resultMap>

    <select id="findAllOffices" resultMap="officeResultMap">
        SELECT
            office_code,
            office_thumbnail_url,
            office_num,
            office_type,
            office_price
        FROM tbl_office
        WHERE store_code = #{storeCode}
    </select>

    <select id="findOfficeDetail" parameterType="int" resultMap="officeResultMap">
        SELECT
            office_code,
            store_code,
            office_thumbnail_url,
            office_num,
            office_type,
            office_price
        FROM
            tbl_office
        WHERE
            office_code = #{officeCode}
        LIMIT 1;
    </select>
    <select id="getOfficeListByStore" resultType="com.office.notfound.samusil.model.dto.OfficeDTO">
        SELECT office_code,
               office_num
        FROM tbl_office WHERE store_code = #{storeCode}
    </select>
    <delete id="deleteOfficeByStoreAndOfficeCode" parameterType="int">
        DELETE FROM tbl_office
        WHERE store_code = #{storeCode} AND office_code = #{officeCode}
    </delete>

</mapper>