<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/mypage.css">
  <link rel="stylesheet" href="/css/boards/my-reviews.css">

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>

<div class="mypage-container">
  <div class="side-menu">
    <ul>
      <li><a href="/member/mypage">개인정보변경</a></li>
      <li><a href="/member/reservation">예약관리</a></li>
      <li><a href="/member/inquiry">문의내역</a></li>
      <li><a href="/review/my-reviews">리뷰관리</a></li>
    </ul>
  </div>
  <section class="my-reviews-container">
  <p>나의 리뷰만 보여주기</p>
  <!--<p th:text="${member.memberId}"></p>-->
  <!--<p th:text="${reviewList}"></p>-->

      <div>리뷰번호</div>
      <div>멤버코드</div>
      <div>결제코드</div>
      <div>리뷰 제목</div>
      <div>리뷰 내용</div>
      <div>등록날짜</div>
      <div>평점</div>
      <div> 이미지</div>

    <div th:each="review : ${reviewList}">
      <div th:text="${review.reviewCode}"></div>
      <div th:text="${review.memberCode}"></div>
      <div th:text="${review.paymentCode}"></div>
      <div th:text="${review.reviewTitle}"></div>
      <div th:text="${review.reviewContent}"></div>
      <div th:text="${review.reviewDate}"></div>
      <div th:text="|${review.reviewRating} 점|"></div>
      <div><img th:src="${review.reviewImage}" alt="리뷰 이미지"></div>
    </div>

  <button onclick="location.href='/review/regist'">리뷰등록</button>
  </section>
  </div>
<div th:replace="~{fragments/footer :: footer}"></div>
</main>
</body>
</html>
