<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1> 리뷰 테이블 데이터베이스 전체 조회 </h1>
  <table>
      <tr>
          <th>리뷰번호</th>
          <!--            <th>권한번호</th>-->
          <th>리뷰 제목</th>
          <th>리뷰 내용</th>
          <th> 이미지</th>
      </tr>
      <tr th:each="review : ${reviewList}">
          <td th:text="${review.reviewCode}"></td>
          <td th:text="${review.memberCode}"></td>
          <td th:text="${review.paymentCode}"></td>
          <td th:text="${review.memberId}"></td>
          <td th:text="${review.reviewTitle}"></td>
          <td th:text="${review.reviewContent}"></td>
          <td th:text="${review.reviewDate}"></td>
          <td th:text="${review.reviewRating}"></td>
          <td th:text="${review.reviewImage}"></td>
      </tr>
  </table>
    <h1> 리뷰가 등록된 사무실 전체 조회 ㄱ  </h1>
  <br>
<!--    <a th:href="@{/review/list/detail/{code}}" >사무실 코드 1번</a>-->
  <a href="/review/officelist">리뷰가 등록된 사무실 전체 조회</a>
</body>
</html>