<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/mypage.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="mypage-container">
<div class="side-menu">
    <ul>
        <li><a href="/member/mypage">개인정보변경</a></li>
        <li><a href="/member/reservation">예약관리</a></li>
        <li><a href="/member/inquiry">문의내역</a></li>
        <li><a href="/review/my-reviews">리뷰관리</a></li>
    </ul>
</div>
   <h1>전체 리뷰 조회만 함</h1>

  <table>
      <tr>
          <th>리뷰번호</th>
          <!--            <th>권한번호</th>-->
          <th>멤버코드</th>
          <th>결제코드</th>
          <th>멤버아이디</th>
          <th>리뷰 제목</th>
          <th>리뷰 내용</th>
          <th>등록날짜</th>
          <th>평점</th>
          <th> 이미지</th>
      </tr>
      <tr th:each="review : ${reviewList}">
          <td th:text="${review.reviewCode}"></td>
          <td th:text="${review.memberCode}"></td>
          <td th:text="${review.paymentCode}"></td>
          <td th:text="${review.memberId}"></td>
          <td th:text="${review.reviewTitle}"></td>
          <td th:text="${review.reviewContent}"></td>
          <td th:text="${review.reviewDate}"></td>
          <td th:text="${review.reviewRating}"></td>
          <td th:text="${review.reviewImage}"></td>
      </tr>
  </table>
    <button onclick="location.href='review/regist'">리뷰등록</button>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>