<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div>
    <div>
        <h2>회원가입을 위해<br>정보를 입력해주세요.</h2>
<!--name 속성값을 DTO필드변수와 일치시켜야한다.-->
        <form th:action="@{/member/signup}" method="post">
            <label for="memberName">* 이름<br>
                <input type="text" id="memberName" name="memberName"><br><br>
            </label>
            <label for="memberEmail">* 이메일<br>
                <input type="text" id="memberEmail" name="memberEmail"><br><br>
            </label>
            <label for="memberId">* 아이디<br>
                <input type="text" id="memberId" name="memberId"><br><br>
            </label>
            <label for="memberPassword">* 비밀번호<br>
                <input type="password" id="memberPassword" name="memberPassword"><br><br>
            </label>
            <label for="memberPhone">* 전화번호<br>
                <input type="tel" id="memberPhone" name="memberPhone"><br><br>
            </label>
            <hr>
            <button type="submit">회원등록</button>
        </form>
    </div>
</div>
</body>
</html>