<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CEO 인사말</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/ceo.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="ceo-container">
    <img src="/img/logo/picture.jpg" alt="인물" class="company-icon">

    <div class="ceo-content">
        <h1 class="ceo-title">| CEO 한마디</h1>
        <div class="ceo-message">
            <p>
                수입의 증가보다 제 <span class="highlight">상상 속 공간이 현실이 되고, 남들이 어렵다고 말하는 것을 좋은 결과로 만들어내는 것</span>이 더 큰 행복으로 다가왔습니다
            </p>
            <p>
                사람들이 좋아하는 공간을 만들고, 그 공간은 통해 <span class="highlight">고객에게 더 나은 라이프스타일을 제안하며, 이를 통해 고객의 삶을 풍성</span>하게 만들어 그들의 기쁨이 저의 행복으로 느껴집니다.
            </p>
            <p>
                경제적 자유보다 이러한 가치가 실현될 때 더 큰 행복과 삶의 의미를 느끼기에, <span class="highlight">세상에 없던 공간 기획으로 삶과 휴식이 있는 라이프스타일을 제안하는데 집중</span>합니다.
            </p>
            <p class="ceo-signature">CEO J</p>
        </div>
    </div>
</main>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>