<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/store/storecreate.css">
</head>
<body>


<div th:replace="~{fragments/header :: header}"></div>
<main>
    <div class="mypage-container">
        <!--    사이드바    -->
        <div class="side-menu">
            <ul>
                <li><a href="/member/adminmypage">개인정보변경</a></li>
                <li><a href="/store/admin/storemanage">매장관리</a></li>
                <li><a href="/member/inquiry">예약관리</a></li>
                <li><a href="/member/reviews">결제관리</a></li>
                <li><a href="/review/my-reviews">리뷰관리</a></li>
                <li><a href="/member/reviews">이벤트관리</a></li>
                <li><a href="/member/reviews">1대1관리</a></li>
                <li><a href="/member/reviews">FAQ관리</a></li>
            </ul>
        </div>

        <div class="main-content">
            <h2 class="title">지점 새 등록</h2>
            <div class="create-form">
                <form th:action="@{/store/admin/storecreate}" method="post" encType="multipart/form-data">
                    <fieldset>
                        <legend>필수 입력</legend>
                        <label for="storeName">지점명 : </label><input type="text" id="storeName" name="storeName" required><br><br>
                        <label for="storeCity">시/도 : </label><input type="text" id="storeCity" name="storeCity" required><br><br>
                        <label for="storeGu">시/군/구 : </label><input type="text" id="storeGu" name="storeGu" required><br><br>
                        <label for="storeAddress">상세주소 : </label><input type="text" id="storeAddress" name="storeAddress" required><br><br>
                        <label for="latitude">위도 : </label><input type="text" id="latitude" name="latitude" required><br><br>
                        <label for="longitude">경도 : </label><input type="text" id="longitude" name="longitude" required><br><br>
                        <label for="description">지점설명 : </label><input type="text" id="description" name="description" required><br><br>
                        <div class="info">
                            <label for="storeThumbnail">썸네일 : </label>
                            <input type="file" id="storeThumbnail" name="storeThumbnail" accept="image/*" onchange="previewImg(this)" required><br>
                            <img id="preview" class="preview-image">
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>선택 입력</legend>
                        <label for="storeImg1">상세사진1 : </label><input type="file" id="storeImg1" name="storeImg1"><br>
                        <label for="storeImg2">상세사진2 : </label><input type="file" id="storeImg2" name="storeImg2"><br>
                        <label for="storeImg3">상세사진3 : </label><input type="file" id="storeImg3" name="storeImg3"><br>
                    </fieldset>
                    <input type="submit" value="작성완료">
                </form>

                <div th:if="${message}" th:text="${message}"
                     th:class="${'message ' + (messageType ?: 'info')}">
                </div>
            </div>
        </div>
        <script>
            /* 업로드할 이미지 미리보기 */
            function previewImg(input) {
                const preview = document.getElementById('preview');

                if (input.files && input.files[0]) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        preview.src = e.target.result;
                        preview.style.display = 'block';
                    }
                    reader.readAsDataURL(input.files[0]);
                } else {
                    preview.style.display = 'none';
                }
            }
        </script>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</main>





</body>
</html>