<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.notfound.payment.model.dao.PaymentMapper">
    <resultMap id="paymentResultMap" type="com.office.notfound.payment.model.dto.PaymentDTO">
        <id property="paymentCode" column="payment_code"/>
        <result property="memberCode" column="member_code"/>
        <result property="paymentDate" column="payment_date"/>
        <result property="paymentMethod" column="payment_method"/>
        <result property="paymentAmount" column="payment_amount"/>
        <result property="paymentStatus" column="payment_status"/>
        <result property="impUid" column="imp_uid"/>
        <result property="merchantUid" column="merchant_uid"/>
    </resultMap>


    <!-- 결제 전체 조회 -->

    <select id="findAllPayments" resultMap="paymentResultMap">
        SELECT
            payment_code,
            member_code,
            payment_date,
            payment_method,
            payment_amount,
            payment_status
        from
            tbl_payment
        where
            member_code = #{memberCode}
        ORDER BY
            payment_code DESC
    </select>

    <!-- 결제 상세 조회 -->
    <select id="searchPayment" resultMap="paymentResultMap">
        SELECT
        payment_code,
        member_code,
        payment_date,
        payment_method,
        payment_amount,
        payment_status
        FROM
        tbl_payment
        WHERE
        member_code = #{memberCode}

        <if test="paymentCode != null">
            AND payment_code = #{paymentCode}
        </if>

        <if test="paymentDate != null and paymentDate != ''">
            AND DATE_FORMAT(payment_date, '%Y-%m-%d') = #{paymentDate}
        </if>

        <if test="startDate != null and startDate != ''">
            AND DATE_FORMAT(payment_date, '%Y-%m-%d') >= #{startDate}
        </if>

        <if test="endDate != null and endDate != ''">
            AND DATE_FORMAT(payment_date, '%Y-%m-%d') &lt; #{endDate}
        </if>

        ORDER BY payment_date DESC

    </select>

    <select id="searchAdminPayment" resultMap="paymentResultMap">
        SELECT
        payment_code,
        member_code,
        payment_date,
        payment_method,
        payment_amount,
        payment_status
        FROM tbl_payment
        WHERE
        <if test="memberCode != null">
            AND member_code = #{memberCode}
        </if>
        <if test="paymentCode != null">
            AND payment_code = #{paymentCode}
        </if>
        <if test="paymentDate != null and paymentDate != ''">
            AND DATE_FORMAT(payment_date, '%Y-%m-%d') = #{paymentDate}
        </if>
        <if test="startDate != null and startDate != ''">
            AND DATE_FORMAT(payment_date, '%Y-%m-%d') >= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND DATE_FORMAT(payment_date, '%Y-%m-%d') &lt;= #{endDate}
        </if>
        ORDER BY payment_date DESC
    </select>


    <insert id="insertPayment" parameterType="com.office.notfound.payment.model.dto.PaymentDTO"
            useGeneratedKeys="true" keyProperty="paymentCode">
        INSERT INTO tbl_payment
        (member_code, payment_date, payment_method, payment_amount, payment_status, merchant_uid, imp_uid)
        VALUES
            (#{memberCode}, NOW(), #{paymentMethod}, #{paymentAmount}, #{paymentStatus}, #{merchantUid}, #{impUid})
    </insert>



    <insert id="insertReservationPayment">
        INSERT INTO
            tbl_reservation_payment (reservation_code, payment_code)
        VALUES
            (#{reservationCode}, #{paymentCode})
    </insert>

    <select id="getReservationCodeByPayment" resultType="int">
        SELECT reservation_code
        FROM tbl_reservation_payment
        WHERE payment_code = #{paymentCode}
    </select>

    <!-- 결제 상태 업데이트 -->
    <update id="updatePaymentStatus">
        UPDATE
            tbl_payment
        SET
            payment_status = #{paymentStatus}
        WHERE
            payment_code = #{paymentCode}
    </update>

    <!-- 결제에 연결된 예약 코드 조회 -->
    <select id="getReservationCodesByPayment" resultType="int">
        SELECT
            reservation_code
        FROM
            tbl_reservation_payment
        WHERE
            payment_code = #{paymentCode}
    </select>

</mapper>