/* inquiry.css */
main {
    /*margin-top: 280px;*/ /* 헤더 높이만큼 여백 추가 */
    padding: 20px; /* 내부 여백 */
}

.container {
    max-width: 1200px; /* 전체 최대 너비 */
    margin: 30px auto; /* 화면 중앙 정렬 */
    padding: 20px; /* 내부 패딩 추가 */
    border: 1px solid #000000; /* 테두리 색상 */
    border-radius: 8px; /* 모서리 둥글게 */
    background-color: #FFFFFF; /* 배경색 흰색 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
    text-align: center;
}

/* Header 스타일 */
.container .header {
    display: grid;
    background-color: #F0F0F0; /* 연한 회색 */
    border-bottom: 2px solid #000000; /* 하단 테두리 강조 */
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

/* Row 스타일 */
.container .row {
    display: grid;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #E0E0E0; /* 가늘고 연한 테두리 */
    transition: background-color 0.3s ease; /* 호버 시 배경 전환 애니메이션 */
}

/*.header.member-visible {
    .cell .row {
    grid-template-columns: repeat(6, 1fr); !* 6개의 균등한 열 *!
    }
}*/

.header.member-visible,
.row .cell.member-visible {
    grid-template-columns: repeat(6, 1fr); /* 6개의 균등한 열 */
}

.header.member-hidden,
.row .cell.member-hidden {
    grid-template-columns: repeat(5, 1fr); /* 5개의 균등한 열 */
}


/* Cell 스타일 */
.container .cell {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis; /* 꽉 찰 경우 말줄임 표시 */
    white-space: nowrap; /* 한 줄 말줄임 */
}


.row {
    display: grid; /* 그리드 레이아웃 활성화 */
    gap: 10px; /* 셀 간 간격 */
}

.row-six-columns {
    grid-template-columns: repeat(6, 1fr); /* 6개의 균등한 열 */
}

.row-five-columns {
    grid-template-columns: repeat(5, 1fr); /* 5개의 균등한 열 */
}

/* 링크 스타일 */
.container .inquiry-link {
    text-decoration: none; /* 밑줄 제거 */
    color: #007BFF; /* 파란색 링크 */
    transition: color 0.2s ease; /* 호버 시 부드럽게 전환 */
}

.container .inquiry-link:hover {
    text-decoration: underline; /* 호버 시 밑줄 표시 */
    color: #0056b3; /* 더 짙은 파란색으로 변경 */
}

/* 반응형 디자인 - 화면이 작아질 때 */
@media (max-width: 768px) {
    .container .header,
    .container .row {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .container .row {
        padding: 15px 0;
    }
}

.inquiry-button {
    display: flex;
    justify-content: center;
    button {
        background-color: #000000; /* 검정 배경 */
        color: #FFFFFF; /* 흰색 텍스트 */
        border: 1px solid #000000;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        width: 100px;
    }
    button:hover {
        background-color: #FFFFFF; /* 흰색 배경 */
        color: #000000; /* 검정 텍스트 */
        border: 1px solid #000000;
    }
}


