<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/boards/inquiry.css">
  <link rel="stylesheet" href="/css/boards/inquiryDetail.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>

<div class="container">
  <div class="wrapper">

  <div class="box1">
    <div class="span-box">
      <div>게시글 번호</div>
      <span th:text="${inquiry.inquiryCode}"></span>
    </div>

    <div class="span-box">
      <div>아이디 </div>
      <span th:text="${inquiry.memberId}"></span>
    </div>

    <div class="span-box">
      <div>등록일자 </div>
      <span th:text="${inquiry.inquiryDate}"></span>
    </div>

    <div class="span-box">
      <div>답변상태 </div>
      <span th:text="${inquiry.inquiryAnswerState}"></span>
    </div>
  </div>

    <div class="box2">
      <div class="box3">
        <span>나의 질문</span>
      </div>
    <div th:text="${inquiry.inquiryContent}" class="box2-myq"></div>
    </div>


    <div class="box2">
        <div th:if="${inquiry.inquiryAdminAnswer != null}">
        <div class="box3">
          <span>답변 내용</span>
        </div>
          <div th:text="${inquiry.inquiryAdminAnswer}" class="box2-myq">
          </div>
        </div>
        <div th:if="${inquiry.inquiryAdminAnswer == null}" class="box2-myq">
            <span>--- 답변 대기중 입니다. ---</span>
        </div>
      </div>
  </div>

  <div class="inquiry-button">
    <button onclick="location.href='/inquiry/list'" style=" margin: 0 5px;">목록으로</button>
    <div sec:authorize="#authentication.principal.memberCode == 1">
      <button id="registInquiryAdminAnswer" style="width: 120px; margin: 0 5px;">답변 등록하기</button>
    </div>
    <div sec:authorize="#authentication.principal.memberCode != 1">
      <button id="editMyInquiry" style="width: 120px; margin: 0 5px;">수정하기</button>
      <!--<a class="btn-edit" th:href="@{'/inquiry/edit/' + ${inquiry.inquiryCode}}">수정하기</a>-->
    </div>
    <form th:id="'deleteForm' + ${inquiry.inquiryCode}"
          th:action="@{'/inquiry/delete/' + ${inquiry.inquiryCode}}"
          method="post" style="display: inline;">
      <button class="btn-delete" th:onclick="'if(confirm(\'정말 삭제하시겠습니까?\')) { submitDeleteForm(' + ${inquiry.inquiryCode} + '); }'" style=" margin: 0 5px;">삭제하기</button>
    </form>
  </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</main>
<script>
<!--/*  document.getElementById('registInquiryAdminAnswer').addEventListener('click', function () {
    window.location.href='/inquiry/edit/' + [[${ inquiry.inquiryCode }]];
  }) */-->
  document.querySelectorAll('#registInquiryAdminAnswer, #editMyInquiry').forEach(button => {
    button.addEventListener('click', () => {
      window.location.href = '/inquiry/edit/' + [[${ inquiry.inquiryCode }]];
    });
  });

</script>
</body>
</html>