<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/boards/inquiry.css">

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>

<div class="container">
  <div class="header">
    <div class="cell">문의글 번호</div>
    <div class="cell">회원 번호</div>
    <div class="cell">아이디</div>
    <div class="cell">제목</div>
    <div class="cell">등록일자</div><div class="cell">답변 상태</div>
  </div>

  <div th:each="i : ${inquiryList}" class="row">
    <div class="cell" th:text="${i.inquiryCode}"></div>
    <div class="cell" th:text="${i.memberCode}"></div>
    <div class="cell" th:text="${i.memberId}"></div>
    <div class="cell">
      <a class="inquiry-link" th:href="@{ /inquiry/detail/{code} (code=${i.inquiryCode})}"
         th:text="${i.inquiryTitle}" th:attr="onclick=|logInquiryCode('${i.inquiryCode}')|"></a>
    </div>
    <div class="cell" th:text="${i.inquiryDate}"></div><div class="cell" th:text="${i.inquiryAnswerState}"></div>
<!--      "${#dates.format(${i.inquiryDate}, 'dd-MM-yyyy')}"-->
  </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</main>
</body>
</html>