<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/boards/inquiry.css">
  <link rel="stylesheet" href="/css/boards/inquiryDetail.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>

<div class="container">
  <div class="wrapper">

  <div class="box1">
    <div class="span-box">
      <div>게시글 번호</div>
      <span th:text="${inquiry.inquiryCode}"></span>
    </div>

    <div class="span-box">
      <div>회원 번호 </div>
      <span th:text="${inquiry.memberCode}"></span>
    </div>

    <div class="span-box">
      <div>아이디 </div>
      <span th:text="${inquiry.memberId}"></span>
    </div>

    <div class="span-box">
      <div>등록일자 </div>
      <span th:text="${inquiry.inquiryDate}"></span>
    </div>

    <div class="span-box">
      <div>답변상태 </div>
      <span th:text="${inquiry.inquiryAnswerState}"></span>
    </div>

  </div>


    <div class="box2">
    <div th:text="${inquiry.inquiryContent}"></div>
    </div>

    <div class="box2">

    <div class="box2-1" th:text="${inquiry.inquiryAdminAnswer}">
      <span th:text="${inquiry.inquiryCode}">답변 상태</span>
    </div>
  </div>
  </div>

  <button onclick="location.href='/inquiry/list'">목록으로</button><br>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</main>
</body>
</html>