<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.notfound.inquiry.model.dao.InquiryMapper">

    <!-- tbl_inquiry -->
    <resultMap id="selectAllInquiryListMapper" type="com.office.notfound.inquiry.model.dto.InquiryDTO">
        <id property="inquiryCode" column="inquiry_code"/>
        <result property="memberCode" column="member_code"/>
        <result property="memberId" column="member_id"/>
        <result property="inquiryTitle" column="inquiry_title"/>
        <result property="inquiryContent" column="inquiry_content"/>
        <result property="inquiryDate" column="inquiry_created_at"/>
        <result property="inquiryAnswerState" column="inquiry_answer_state"/>
        <result property="inquiryAdminAnswer" column="inquiry_admin_answer"/>
    </resultMap>

    <!-- 모든 문의 조회 (관리자) -->
    <select id="selectAllInquiryList" resultMap="selectAllInquiryListMapper">
        SELECT * FROM tbl_inquiry ORDER BY inquiry_created_at ASC
    </select>

    <!-- 특정 사용자의 문의 조회 -->
    <select id="selectMyInquiryList" resultMap="selectAllInquiryListMapper">
        SELECT * FROM tbl_inquiry
        WHERE member_code = #{memberCode}
        ORDER BY inquiry_created_at ASC
    </select>

    <select id="selectInquiryByCode" parameterType="int" resultMap="selectAllInquiryListMapper">
        SELECT * FROM tbl_inquiry
        WHERE inquiry_code = #{inquiryCode}
    </select>

    <!-- 문의글 등록 -->
    <insert id="registNewInquiry" parameterType="com.office.notfound.inquiry.model.dto.InquiryDTO">
        INSERT INTO
            tbl_inquiry
        (
           inquiry_code,
           member_code,
           member_id,
           inquiry_title,
           inquiry_content,
           inquiry_created_at,
           inquiry_answer_state,
           inquiry_admin_answer
        )
        VALUES (#{inquiryCode},
                #{memberCode},
                #{memberId},
                #{inquiryTitle},
                #{inquiryContent},
                DATE_FORMAT(now(), '%Y-%m-%d %H:%i:%s'),
                #{inquiryAnswerState},
                #{inquiryAdminAnswer})
    </insert>

    <!-- 나의 리뷰 조회 -->
    <select id="findMyInquiryByCode" resultType="com.office.notfound.inquiry.model.dto.InquiryDTO" parameterType="_int">
        SELECT * FROM tbl_inquiry WHERE inquiry_code = #{inquiryCode}
    </select>

    <!-- 문의글 수정 -->
    <update id="updateReview" parameterType="com.office.notfound.inquiry.model.dto.InquiryDTO">
        UPDATE
        tbl_inquiry
        SET
        inquiry_code = #{inquiryCode},
        member_code = #{memberCode},
        member_id = #{memberId},
        inquiry_title = #{inquiryTitle},
        inquiry_content = #{inquiryContent},
        inquiry_created_at = DATE_FORMAT(now(), '%Y-%m-%d %H:%i:%s'),
        inquiry_answer_state = #{inquiryAnswerState},
        inquiry_admin_answer = #{inquiryAdminAnswer}
        WHERE
        inquiry_code = #{inquiryCode}

    </update>

    <!-- 문의글 삭제 -->
    <delete id="deleteInquiry" parameterType="int">
        DELETE FROM
            tbl_inquiry
        WHERE
            inquiry_code = #{inquiryCode}
    </delete>

</mapper>