<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/officemanage.css">
    <title>사무실 관리 디폴트</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<section class="office-container">
    <h2 th:text="'지점 코드: ' + ${storeCode} + '의 사무실 목록'" style="margin-bottom: 20px;"></h2><br>
    <div class="office-list">
        <div th:each="office : ${officeList}" class="office-card">
            <div class="details">
                <a th:href="@{/samusil/admin/officeedit(officeCode=${office.officeCode})}">
                    <h3 th:text="|${office.officeNum}호실|"></h3>
                    <p th:text="|타입: ${office.officeType}|"></p>
                </a>
                <!-- 수정 버튼 -->
                <a th:href="@{'/samusil/admin/officeedit/' + ${storeCode} + '/' + ${office.officeCode}}"
                   class="office-edit-btn">수정</a>
                <form th:id="'deleteForm' + ${store.storeCode}"
                      th:action="@{'/samusil/admin/delete/' + ${storeCode} + '/' + ${office.officeCode}}"
                      method="post" style="display: inline;">
                    <button type="button" class="office-delete-btn"
                            th:onclick="'if(confirm(\'정말 삭제하시겠습니까?\')) { submitDeleteForm(' + ${store.storeCode} + '); }'">
                        삭제
                    </button>
                </form>


            </div>
        </div>
    </div>
</section>
</body>
</html>
