section {
    flex: 1; /* 남은 공간 차지 */
    width: 50%; /* 가로 폭 제한 */
    margin: 0 auto; /* 가운데 정렬 */
    background-color: #f9f9f9;
    padding: 20px;
}
a {
    color: inherit; /* 부모 요소의 색상으로 상속 */
    text-decoration: none; /* 밑줄 제거 */
}
/* 방문한 링크 색상도 동일하게 변경 */
a:visited {
    color: inherit; /* 방문한 링크 색상도 부모 색상으로 설정 */
}
.admin-controls, .admin-table, .message {
    width: 600px; /* 고정된 가로폭 600px */
    margin: 0 auto; /* 가로 중앙 정렬 */
}
.admin-controls {
    justify-content: flex-end; /* 내부 요소를 오른쪽 정렬 */
    margin-bottom: 10px; /* 버튼 아래 여백 추가 테이블과의 간격 */
    align-items: center;
    height: 50px;
    background-color: red;
    display: flex;  /* 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 (필요하면 추가) */
}
.admin-table {
    align-items: center;
    justify-content: flex-start;
    background-color: bisque;
}
.store-create-btn{
    width: 70px;
    height: 20px;
    font-size: 16px;
    padding: 10px 15px;
    border: 2px solid #56AEA8;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto; /* 왼쪽 여백 자동으로 설정 (오른쪽 정렬 효과) */
}
.action-links {
    display: flex;  /* 가로 정렬 */
    gap: 10px;  /* 버튼 간 간격 */
}
.store-edit-btn {
    width: 40px; /* 너비 */
    height: 40px; /* 높이 (너비와 동일하게 설정) */
    font-size: 10px; /* 글자 크기 */
    border: 2px solid #56AEA8; /* 파란색 테두리 */
    background-color: white; /* 배경색 */
    color: black; /* 글씨 색상 */
    text-align: center; /* 텍스트 가운데 정렬 */
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    text-decoration: none; /* 밑줄 제거 */
    cursor: pointer; /* 마우스 오버 시 포인터 변경 */
}
.store-edit-btn:hover {
    background-color: #56AEA8; /* 마우스 오버 시 배경색 변경 */
}
.store-delete-btn {
    width: 43px;  /* 버튼 너비 */
    height: 43px; /* 버튼 높이 */
    font-size: 10px; /* 글자 크기 조절 */
    border: 2px solid #FF0000; /* 빨간색 테두리 */
    background-color: white; /* 배경색 */
    color: black; /* 글씨 색상 */
    text-align: center; /* 텍스트 가운데 정렬 */
    display: flex; /* 가로, 세로 중앙 정렬 */
    align-items: center;
    justify-content: center;
    cursor: pointer; /* 마우스 오버 시 포인터 변경 */
}
.store-delete-btn:hover {
    background-color: #ffdddd; /* 마우스 오버 시 배경색 변경 */
}