<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/store/storelist.css">
    <title>지점조회리스트</title>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=YOUR_KAKAO_API_KEY&libraries=services"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <div class="content">
        <div th:each="store, iterStat : ${storeList}" class="store-container">
            <img th:src="${store.storeThumbnailUrl}" th:alt="${store.storeName}" class="store-thumbnail">
            <div class="store-grid">
                <div class="store-item">
                    <!-- 브라우저에 표시될 경로 주소다. -->
                    <a th:href="@{'/store/detailstore/' + ${store.storeCode}}">
                        <strong th:text="${store.storeName}"></strong>
                        <p th:text="${store.storeAddress}">상세주소</p>
                        <p th:text="${store.description}">지점 설명</p>
                        <p th:text="${store.storeCode}">storeCode</p>
                    </a>
                </div>
                <hr>
            </div>
        </div>
    </div>
</main>
<aside class="left-aside">

</aside>
<aside class="right-aside">

</aside>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>